<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheet/main.css">
  <title>Members Only</title>
</head>
<body>
  <%- include('header', { user: user}) %>
  <% if (user) { %>
    <section class="main">
      <h1>Special club for members only</h1>
      <% if (locals.errors) { %>
        <%- include('msg-list', { messages: messages, user: user, errors: errors }) %>
      <% } else { %>
        <%- include('msg-list', { messages: messages, user: user }) %>
      <% } %>
    </section>
  <% } else { %>
    <section class="main">
      <h1>Special club for members only</h1>
      <%- include('msg-list', { messages: messages, user: '' }) %>
    </section>
  <% } %> 
  <%- include('footer') %>
</body>
</html>