<section class="msg-list">
  <% if (user) { %>
    <h2>Welcome <%= user.name %> </h2>
    <% if (locals.errors)  {%>
      <%- include('msg-form', { errors: errors }) %>
    <% } else { %>
      <%- include('msg-form') %>
    <% } %>
  <% } %>
  <p class="note">Note: You have to be member to see message author and date.</p>
  <% if (messages.length > 0) { %>
    <% messages.forEach(message => { %>
      <div class="msg-container">
        <div>
          <h3><%= message.title %> </h3>
          <% if (user.isMember)  {%>
            <p>by <span><%= message.author %></span></p>
            <p><%= message.timestamp %></p>
          <% } else { %>
            <p>-----------</p>
          <% } %>
        </div>
        <p class="msg"><%= message.message %></p>
        <% if (user.isAdmin === true) { %>
          <form action="/delete_msg" method="POST">
            <input type="hidden" value=<%= message.id %> name="message_id">
            <button class="delete-msg" type="submit">Delete Message</button>
          </form>
        <% } %>
      </div>
    <%})%>
  <% } %>
</section>